body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: 0 auto;
    background: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding: 20px;
}

header {
    text-align: center;
    padding: 20px 0;
}
.squares-container {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.square {
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #333;
    color: white;
    cursor: pointer;
    text-align: center;
    transition: background 0.3s;
}

.square img {
    width: 50%;
    height: auto;
}

.square:hover {
    background: #575757;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
    background: #333;
}

nav ul li {
    margin: 0;
}

nav ul li a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 10px 20px;
}

nav ul li a:hover {
    background: #575757;
}

main {
    padding: 20px;
}

.tab-content {
    display: none;
}
.tab-content.visible {
    display: block;
}

.hidden {
    display: none;
}

form {
    display: flex;
    flex-direction: column;
}

.form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px; /* Add vertical gap between rows */
    margin-top: 20px;
}

.form-group {
    flex: 1;
    margin-right: 10px; /* Add horizontal gap between fields */
}

.form-group:last-child {
    margin-right: 0; /* Remove extra margin on the last element */
}

form label {
    margin-top: 10px;
}

form input, form select, form button {
    padding: 10px;
    margin-top: 5px;
    width: 100%;
    box-sizing: border-box;
}

form button {
    background: #333;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

form button:hover {
    background: #575757;
}

select {
    background: white;
    color: black; /* Change text color to black */
}

option {
    background: white;
    color: black; /* Change text color to black */
}

/* Remove the spinners in Webkit browsers (e.g., Chrome, Safari) */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Remove the spinners in Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

/* Styles for the settings icon and dropdown */
.settings {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%; /* Ensure the settings container takes the full width */
 
 
}


#settingsIcon {
    cursor: pointer;
    font-size: 20px;
    padding: 10px;
}

.dropdown {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    padding: 12px;
    z-index: 1;
    width: 200px;
    left: 0;
    margin-top: 120px;
}

.dropdown label, .dropdown select {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

.dropdown.show {
    display: block;
}

#selectedDatesList div {
    margin-top: 5px;
    padding: 5px;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    display: inline-block;
    margin-right: 5px;
}
.form-control {
    display: block;
    width: 100%;
    padding: 8px;
    margin: 10px 0;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.days-of-week {
    margin: 20px 0;
}

.day-checkbox {
    margin-bottom: 10px;
}

#selectDaysOfWeekFields label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}
.dates-list {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.date-item {
    display: flex;
    align-items: center;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px;
    margin: 2px;
}

.date-item button {
    background: none;
    border: none;
    color: red;
    cursor: pointer;
    margin-left: 5px;
}

.date-item button:hover {
    text-decoration: underline;
}

.status-container {
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.status-container label {
    margin-right: 10px;
}

#status {
    padding: 5px 10px;
    font-size: 14px;
}
.weekendCont{

    padding:15px;

}